:root{
    --black-color: #141414;
    --white-color: #ffffec;
    --extra-color: cornflowerblue;
}

html{
    font-family: "Poppins", sans-serif;
    font-size: 62.5%; /*REM TO PX 1rem = 10px*/
    box-sizing: border-box;
    background-color: var(--extra-color);
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


h1, h2, p, input[type="text"]{
    font-size: 1rem;
    color: var(--black-color);
    text-align: center;
}

h1{
    font-size: 2.6rem;
}

p{
    font-size: 1.6rem;
}

img{
    width: 100%;
    
}

.searchImg{
    width: 4rem;
    
}

.weatherPic{
    width: 18rem;
}

.humidityPic, .windPic{
    background-color: var(--black-color);
    width: 8rem;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/* GLOBALS */

.weatherContainer{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.weatherInput{
    display: flex;
}

.weatherInformation{
    background-color: var(--white-color);
    border: 1px solid var(--black-color);
    padding: 4rem;
    width: 34rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.weatherHW{
    margin-top: 2rem;
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
}

button{
    font-size: 1.7em;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--black-color);
    transition: all 0.1 ease;
}

.btn{
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--black-color);
    border-radius: 10px;
    padding: 0.75em 1.5em;
    background: var(--white-color);
    color: var(--black-color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

button:hover .btn{
    transform: translateY(-0.33em);
}

button:active .btn{
    transform: translateY(0);
}

input[type="text"]{
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    padding: 1rem;
}